@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

.nav-primaria {
    background-color: #C4DFF9;
    width: 100%;
    height: 60%;
}

.nav-primaria ul {
    display: flex;
    list-style-type: none;
}

.nav-primaria li {
    width: 33.33%;
    text-align: center;
}

#titulo-principal {
    font-family: 'Rye', sans-serif;
    font-size: 40px;
    background-color: white;
    width: 100%;
    margin: 0;
    text-align: center;
    color: #1449db;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#datos-del-jugador-frm-nombre {
    width: 25%;
}

#nombre-jugador {
    border: 1px solid;
    color: white; 
    height: 40px; 
    width: 150px; 
    background-color:#0C2C85; 
    transition: background-color 0.5s ease, color 0.5s ease; 
    text-decoration: none; 
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 16px; 
    font-weight: normal; 
    border-radius: 10px; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#nombre-jugador:hover {
    background-color:#1449DB;
}

section{
    background-color: #F7F7F7;
    width: auto;
    padding: 50px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 50px #0009;
    border-radius: 10px;
}

header{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: 'Rye', sans-serif;
    font-size: 30px;
    color: #0C2C85;
}

h3{
    font-family: 'Rye', sans-serif;
    color: #0C2C85;
}

p, label, li, a{
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    text-decoration: none;
    color: #0C2C85;
    transition: background-color 0.25s ease, color 0.25s ease; 
}

p:hover{
    text-decoration: none;
    color: #68BAFA;
}
a {
    text-decoration: none;
    color: #0C2C85;
    transition: background-color 0.25s ease, color 0.25s ease; 
}

a:hover {
    text-decoration: none;
    color: #68BAFA;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/mar3.jpg');
    background-size: cover;
    background-position: 50% 70%;
}

.nav-secundaria ul, #jugar-section ul {
    background-color: #dadada;
}

main ul {
    list-style-type: none;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin:2rem;
}

#preparacion {
    width: auto;
}

#jugar-section {
    width: 500px;
}

#datos-del-jugador-frm-nombre {
    width: 200px;
}