@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

:root {
    --font-family: 'Roboto Condensed', Helvetica, sans-serif;

    --tablero-width: 400px;
    --tablero-height: auto;
    --tablero-padding: 60px;
    --tablero-gap: 0;
    --tablero-columns: 10;
    --tablero-rows: 10;

    --position-bg-color: #F7F7F7;
    --position-header-bg-color: #0C2C85;
    --position-border-color: black;
    --position-border-style: solid;
    --position-border-width: 1px;
    --position-width: 35px;
    --position-height: 35px;
}

.tablero {
    font-family: var(--font-family);
    position: relative;
    display: grid;
    grid-template-columns: repeat(calc(var(--tablero-columns) + 1), 1fr);
    grid-template-rows: repeat(calc(var(--tablero-columns) + 1), 1fr);
    gap: var(--tablero-gap);
    padding-right: 5.5px;
    max-width: var(--tablero-width);
    height: var(--tablero-height);
    background: var(--position-bg-color);
    box-shadow: 0px 0px 50px #0009;
    background:#F7F7F7 url('../images/sea.jpg') 0 0 no-repeat;
    overflow: visible;
}

.tablero-juego{
    padding: 60px;
    background-color: white;
    border-radius: 10px;
}

.tablero-juego h2 {
    top: -10px;
    left: 204px;
    padding:0;
}

.position {
    display: flex;
    border: var(--position-border-width) var(--position-border-style) var(--position-border-color);
    align-items: center;
    justify-content: center;
    width: var(--position-width);
    height: var(--position-height);
    overflow: visible;
    position: relative;
}

.table-head {
    color:white;
    background: var(--position-header-bg-color);
}

.barco-portaaviones {
    background: transparent url('../images/ship0.png') 0 0 no-repeat;
    background-size: cover;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

.barco-portaaviones.tile-2{
    background-position: 0 calc(var(--position-height) * -1);
}
.barco-portaaviones.tile-3{
    background-position: 0 calc(var(--position-height) * -1.1);
}

.barco-portaaviones.tile-4{
    background-position: 0 calc(var(--position-height) * -1.2);
}

.barco-portaaviones.tile-5{
    background-position: 0 calc(var(--position-height) * -1.4);
}
.barco-crucero{
    background: transparent url('../images/ship3.png') 0 0 no-repeat;
    background-size: cover;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

.barco-crucero.tile-2{
    background-position: 0 calc(var(--position-height) * -1);
}

.barco-crucero.tile-3{
    background-position: 0 calc(var(--position-height) * -2.3);
}

.barco-acorazado {
    background: transparent url('../images/ship1.png') 0 0 no-repeat;
    background-size: cover;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}
  
.barco-acorazado.tile-2 {
    background-position: 0 calc(var(--position-height) * -1);
}
  
.barco-acorazado.tile-3 {
    background-position: 0 calc(var(--position-height) * -2.3);
}
  
.barco-acorazado.tile-4 {
    background-position: 0 calc(var(--position-height) * -3.4);
}

.barco-submarino{
    background: transparent url('../images/ship4.png') 0 0 no-repeat;
    background-size: cover;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

.barco-submarino.tile-2{
    background-position: 0 calc(var(--position-height) * -1);
}

.barco-submarino.tile-3{
    background-position: 0 calc(var(--position-height) * -2.3);
}

.barco-destructor {
    background: transparent url('../images/ship5.png') 0 0 no-repeat;
    background-size: cover;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

.barco-destructor.tile-2{
    background-position: 0 calc(var(--position-height) * -1);
}

.barco

.horizontal { 
    transform: rotate(90deg);
}

.barco-destructor.horizontal{
    transform: rotate(-90deg);
}

.barco-portaaviones.horizontal{
    transform: rotate(-90deg);
}


.hit {
    position: absolute;
    z-index:2;
    width: var(--position-width);
    height: calc(var(--position-height) + 5px);
    background: transparent url('../images/fire-20x20.png') 0 0 no-repeat;
    background-size: auto;
    animation: sprite-animation 1.7s steps(1) infinite;
}

@keyframes sprite-animation {
    0% { background-position: 0 0; }
    3.33% { background-position: -20px 0; }
    6.67% { background-position: -40px 0; }
    10% { background-position: -60px 0; }
    13.33% { background-position: -80px 0; }
    16.67% { background-position: 0 -20px; }
    20% { background-position: -20px -20px; }
    23.33% { background-position: -40px -20px; }
    26.67% { background-position: -60px -20px; }
    30% { background-position: -80px -20px; }
    33.33% { background-position: 0 -40px; }
    36.67% { background-position: -20px -40px; }
    40% { background-position: -40px -40px; }
    43.33% { background-position: -60px -40px; }
    46.67% { background-position: -80px -40px; }
    50% { background-position: 0 -60px; }
    53.33% { background-position: -20px -60px; }
    56.67% { background-position: -40px -60px; }
    60% { background-position: -60px -60px; }
    63.33% { background-position: -80px -60px; }
    66.67% { background-position: 0 -80px; }
    70% { background-position: -20px -80px; }
    73.33% { background-position: -40px -80px; }
    76.67% { background-position: -60px -80px; }
    80% { background-position: -80px -80px; }
    83.33% { background-position: 0 -100px; }
    86.67% { background-position: -20px -100px; }
    90% { background-position: -40px -100px; }
    93.33% { background-position: -60px -100px; }
    96.67% { background-position: -80px -100px; }
    100% { background-position: 0 0; }
}