@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

:root {
    --font-family: 'Roboto Condensed', Helvetica, sans-serif;

    --tablero-width: 400px;
    --tablero-height: auto;
    --tablero-padding: 60px;
    --tablero-gap: 0;
    --tablero-columns: 10;
    --tablero-rows: 10;

    --position-bg-color: #F7F7F7;
    --position-header-bg-color: #0C2C85;
    --position-border-color: black;
    --position-border-style: solid;
    --position-border-width: 1px;
    --position-width: 35px;
    --position-height: 35px;
}

.nav-primaria {
    background-color: #C4DFF9;
    width: 100%;
    height: auto;
}

.nav-primaria ul {
    display: flex;
    list-style-type: none;
}

.nav-primaria li {
    width: 33.33%;
    text-align: center;
}

#titulo-principal {
    font-family: 'Rye', sans-serif;
    font-size: 40px;
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    color: #1449db;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#datos-del-jugador-frm-nombre {
    width: 150px;
}

#nombre-jugador {
    border: 1px solid;
    color: #FFFFFF;
    height: 45px; 
    width: 150px;
    background-color:#0C2C85; 
    transition: background-color 0.5s ease, color 0.5s ease; 
    text-decoration: none; 
    font-family: 'Roboto Condensed', sans-serif; 
    border-radius: 10px; 
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    display: inline-flex; 
    font-weight: normal;
    font-size: 18px;
}

#selector-orientacion, #selector-barco {
    height: 35px; 
    width: 150px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif; 
    border-radius: 10px; 
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 10px;
}

button {
    color: #FFFFFF;
    height: auto; 
    width: auto;
    background-color:#0C2C85; 
    transition: background-color 0.5s ease, color 0.5s ease; 
    text-decoration: none; 
    font-family: 'Roboto Condensed', sans-serif; 
    border-radius: 10px; 
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    display: inline-flex; 
    font-weight: normal;
    font-size: 18px;
    margin-right: 5px;
    margin-left: 5px;
}

button:hover {
    background-color:#1449DB;
}

section{
    background-color: #F7F7F7;
    width: auto;
    padding: 50px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 50px #0009;
    border-radius: 10px; 
}

header{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div{
    font-family: 'Rye', sans-serif;
    width: 100%;
    text-align: center;
    color: #1449DB;
    background-color: white;
}

#etapa{
    width: 80%;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    background-color: #0C2C85;
    color: white !important;
    margin-bottom: 0px;
}

h1 {
    font-size: 40px;
}

h2, h3{
    font-family: 'Rye', sans-serif;
    font-size: 30px;
    color: #0C2C85;
}

p, label, li, a, td, th{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

p{
    text-decoration: none;
    color: #0C2C85;
    transition: background-color 0.25s ease, color 0.25s ease; 
}

p:hover{
    text-decoration: none;
    color: #68BAFA;
}

a {
    text-decoration: none;
    color: #0C2C85;
    transition: background-color 0.25s ease, color 0.25s ease; 
}

a:hover {
    text-decoration: none;
    color: #68BAFA;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/mar3.jpg');
    background-size: cover;
    background-position: 50% 70%;
    font-size: 18px; 
    font-weight: normal; 
}

.nav-secundaria ul, #jugar-section ul {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 15px;

}

main ul {
    list-style-type: none;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin:2rem;
}

#preparacion {
    width: auto;
    box-shadow: none;
    border-radius: 10px;
    background-color: #FFFFFF;
}

#datos-del-jugador-frm-nombre {
    width: 500px;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

#jugar-section, #que-es-section, #instrucciones-section {
    width: 600px;
}

#crea-tu-tablero {
    font-family: 'Rye', sans-serif;
    width: 100%;
    margin:0;
    text-align: center;
    color: #1449DB;
    background-color: #F7F7F7;
    box-shadow: 0px 0px 50px #000;
}

#volver-inicio {
    background-color: #FFFFFF;
    width: auto;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 50px #000;
    border-radius: 15px;
    padding: 50px;
}

#volver-inicio p{
    color:#0C2C85;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

#volver-inicio p:hover {
    color:white;
    text-decoration: none;
    background-color: #68BAFA;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#tableros {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#tableros-barcos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
}

.barco {
    image-rendering: -webkit-optimize-contrast; /* Para navegadores basados en WebKit (Chrome, Safari) */
    image-rendering: optimize-contrast; /* Estándar */
    image-rendering: crisp-edges; /* Para bordes nítidos */
    image-rendering: pixelated; /* Si quieres un efecto pixelado */
}

.tablero {
    font-family: var(--font-family);
    position: relative;
    display: grid;
    grid-template-columns: repeat(calc(var(--tablero-columns) + 1), 1fr);
    grid-template-rows: repeat(calc(var(--tablero-columns) + 1), 1fr);
    gap: var(--tablero-gap);
    padding-right: 5.5px;
    max-width: var(--tablero-width);
    height: var(--tablero-height);
    background: var(--position-bg-color);
    box-shadow: 0px 0px 50px #0009;
    background:#FFFFFF url('../images/sea.jpg') 0 0 no-repeat;
    overflow: visible;
}

.tablero-juego{
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.tablero-juego h2 {
    top: -10px;
    left: 204px;
    padding: 0;
}

.position {
    display: flex;
    border: var(--position-border-width) var(--position-border-style) var(--position-border-color);
    align-items: center;
    justify-content: center;
    width: var(--position-width);
    height: var(--position-height);
    overflow: visible;
    position: relative;
}

.table-head {
    color:white;
    background: var(--position-header-bg-color);
}

.barco-portaaviones {
    background: transparent url('../images/ships/portaaviones.png') 0 0 no-repeat;
    background-size: cover;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

.barco-portaaviones.tile-2{
    background-position: 0 calc(var(--position-height) * -1);
}
.barco-portaaviones.tile-3{
    background-position: 0 calc(var(--position-height) * -1.1);
}

.barco-portaaviones.tile-4{
    background-position: 0 calc(var(--position-height) * -1.2);
}

.barco-portaaviones.tile-5{
    background-position: 0 calc(var(--position-height) * -1.4);
}
.barco-crucero{
    background: transparent url('../images/ships/crucero.png') 0 0 no-repeat;
    background-size: cover;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

.barco-crucero.tile-2{
    background-position: 0 calc(var(--position-height) * -1);
}

.barco-crucero.tile-3{
    background-position: 0 calc(var(--position-height) * -2.3);
}

.barco-acorazado {
    background: transparent url('../images/ships/acorazado.png') 0 0 no-repeat;
    background-size: cover;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

.barco-acorazado.tile-2 {
    background-position: 0 calc(var(--position-height) * -1);
}

.barco-acorazado.tile-3 {
    background-position: 0 calc(var(--position-height) * -2.3);
}

.barco-acorazado.tile-4 {
    background-position: 0 calc(var(--position-height) * -3.4);
}

.barco-submarino{
    background: transparent url('../images/ships/submarino.png') 0 0 no-repeat;
    background-size: cover;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

.barco-submarino.tile-2{
    background-position: 0 calc(var(--position-height) * -1);
}

.barco-submarino.tile-3{
    background-position: 0 calc(var(--position-height) * -2.3);
}

.barco-destructor {
    background: transparent url('../images/ships/destructor.png') 0 0 no-repeat;
    background-size: cover;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

.barco-destructor.tile-2{
    background-position: 0 calc(var(--position-height) * -1);
}

.horizontal { 
    transform: rotate(90deg);
}

.barco-destructor.horizontal{
    transform: rotate(-90deg);
}

.barco-portaaviones.horizontal{
    transform: rotate(-90deg);
}

.barco-acorazado.horizontal{
    transform: rotate(-90deg);
}

.barco-submarino.horizontal{
    transform: rotate(-90deg);
}

.barco-crucero.horizontal{
    transform: rotate(-90deg);
}

.hit {
    z-index:20;
    width: var(--position-width);
    height: calc(var(--position-height) + 5px);
    background: transparent url('../images/fire-20x20.png') 0 0 no-repeat;
    background-size: auto;
    animation: sprite-animation 1.7s steps(1) infinite;
    pointer-events: none;
}

#interfaz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#tabla-torneo {
    margin: 25px 0;
    font-size: 1rem;
    min-width: 400px;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0px 0px 50px #0009;
}

#tabla-torneo thead tr{
    background-color: #0C2C85;
    color:white;
    text-align: center;

}

#tabla-torneo th, #tabla-torneo td {
    padding: 15px 20px;
}

#tabla-torneo tbody tr{
    border-bottom: 1px solid #dddddd;
}

#tabla-torneo tbody tr:nth-of-type(even){
    background-color: #e9e9e9;
}

#listo{
    border: 1px solid;
    color: white; 
    height: 45px; 
    width: 250px; 
    background-color:#0C2C85; 
    transition: background-color 0.5s ease, color 0.5s ease; 
    text-decoration: none; 
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 18px; 
    font-weight: normal; 
    border-radius: 10px; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.salir-del-juego {
    width: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #0009;
    background-color: #F7F7F7;
    padding-bottom: 60px !important;
}

.salir-del-juego a{
    color:#0C2C85;
    text-decoration: none;
    font-size: 18px;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px ;
    padding-bottom: 10px ;
    border: 1px solid;
    border-radius: 10px;
}

.salir-del-juego a:hover {
    color:white;
    text-decoration: none;
    background-color: #68BAFA;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes sprite-animation {
    0% { background-position: 0 0; }
    3.33% { background-position: -20px 0; }
    6.67% { background-position: -40px 0; }
    10% { background-position: -60px 0; }
    13.33% { background-position: -80px 0; }
    16.67% { background-position: 0 -20px; }
    20% { background-position: -20px -20px; }
    23.33% { background-position: -40px -20px; }
    26.67% { background-position: -60px -20px; }
    30% { background-position: -80px -20px; }
    33.33% { background-position: 0 -40px; }
    36.67% { background-position: -20px -40px; }
    40% { background-position: -40px -40px; }
    43.33% { background-position: -60px -40px; }
    46.67% { background-position: -80px -40px; }
    50% { background-position: 0 -60px; }
    53.33% { background-position: -20px -60px; }
    56.67% { background-position: -40px -60px; }
    60% { background-position: -60px -60px; }
    63.33% { background-position: -80px -60px; }
    66.67% { background-position: 0 -80px; }
    70% { background-position: -20px -80px; }
    73.33% { background-position: -40px -80px; }
    76.67% { background-position: -60px -80px; }
    80% { background-position: -80px -80px; }
    83.33% { background-position: 0 -100px; }
    86.67% { background-position: -20px -100px; }
    90% { background-position: -40px -100px; }
    93.33% { background-position: -60px -100px; }
    96.67% { background-position: -80px -100px; }
    100% { background-position: 0 0; }

}

#modo-juego {
    font-family: 'Rye', sans-serif;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: #1449DB;
    background-color: white;
}

#anuncio {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #0C2C85;
    width: 95%;
    padding: 20px;
    border-radius: 15px;
    margin:0;
    font-size: 18px;
    text-align: center;
    color:white !important; 
}

/* #tableros > :nth-last-child(2) {
    flex-basis: 100%;
} */

#boosters{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0px 0px 50px #0009;
    background-color: #F7F7F7;
    width: auto;
    padding: 30px;
}

#boosters ul{
    font-size: 18px;
    font-weight: normal;
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#boosters ul li{
    border: 1px solid;
    padding: 15px;
    border-radius: 15px;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

#boosters ul li:hover{
    color:white;
    background-color: #68BAFA;
    border: 1px solid;
}

#puntaje {
    font-size: 18px;
}

#compra-potenciador {
    border: 1px solid;
    color: white; 
    height: 45px; 
    width: 150px; 
    background-color:#0C2C85; 
    transition: background-color 0.5s ease, color 0.5s ease; 
    text-decoration: none; 
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 18px; 
    font-weight: normal; 
    border-radius: 10px; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#compra-potenciador:hover {
    background-color:#1449DB;
}