@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

#crea-tu-tablero {
    font-family: 'Jaro', sans-serif;
    font-size: 50px;
    width: 100%;
    margin:0;
    text-align: center;
    color: #1449DB;
    background-color: white;
}

#piezas, #volver-inicio {
    background-color: #F7F7F7;
    width: 750px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 50px #0009;
    border-radius: 17px;
    padding: 50px;
}

#volver-inicio {
    margin: 80px;
    width: 400px;
}

#tableros {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 3rem;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
}

#tableros-barcos {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 3rem;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
}

#piezas ul {
    list-style: none;
    padding:0;
    margin:0;
    margin-bottom: 35px;
}

#piezas p, #volver-inicio p{
    color:#0C2C85;
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px ;
    padding-bottom: 10px ;
    border: 1px solid;
    border-radius: 10px;
}

#piezas p {
    background-color: #0C2C85;
    color: white;
    width: auto;
}

#piezas p:hover, #volver-inicio p:hover {
    color:white;
    text-decoration: none;
    background-color: #68BAFA;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#piezas {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    height: auto;
}

#piezas > :nth-child(2){
    position: relative;
    height: 150px;
    width: 750px;
    overflow: visible;
}

#piezas h2 {
    flex-basis: 100%;
    margin: 0;
}

.pieza-portaavion {
    position: absolute;
    background: transparent url('../images/ship0.png') 0 0 no-repeat;
    background-size: cover;
    width: 37px;
    height: 185px;
    display:block;
    bottom: 0;
    left: 150px;
}

.pieza-acorazado {
    position: absolute;
    background: transparent url('../images/ship1.png') 0 0 no-repeat;
    background-size: cover;
    width: 37px;
    height: 148px;
    display:block;
    bottom: 0;
    left: 250px;
}

.pieza-crucero {
    position: absolute;
    background: transparent url('../images/ship3.png') 0 0 no-repeat;
    background-size: cover;
    width: 37px;
    height: 111px;
    display:block;
    bottom: 0;
    left: 350px;
}

.pieza-submarino {
    position: absolute;
    background: transparent url('../images/ship4.png') 0 0 no-repeat;
    background-size: cover;
    width: 37px;
    height: 111px;
    display:block;
    bottom: 0;
    left: 450px;
}

.pieza-destructor {
    position: absolute;
    background: transparent url('../images/ship5.png') 0 0 no-repeat;
    background-size: cover;
    width: 37px;
    height: 74px;
    display:block;
    bottom: 0;
    left: 550px;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: 'Jaro', sans-serif;
    font-size: 30px;
    color: #0C2C85;
}

p, label, li, a{
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/mar3.jpg');
    background-size: cover;
    background-position: 30% 40%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin:4rem;
}